section {
	padding: 20px 0;
}

.top-nav {
	margin-bottom: 0;
	background-color: white;
	border: 0;
	border-radius: 0;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

nav.navbar {
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #eee;
}

#banner {
	background-image: url("../assets/img/tesla-banner.jpg");
	background-size: cover;
	background-position: 50% 75%;
	height: 80vh;
	width: 100vw;
	min-height: 500px;
	margin-top:-55px;
}

.banner-text {
	color: white;
	padding-top: 100px;
}

.gray-section {
	background-color: #EEE;
}

.black-section {
	background-color: #333;
}

.black-section h2, .black-section p, .black-section li {
	color: white;
}